*{margin: 0 auto;padding: 0;}

*{margin: 0;}

nav {
    display: flex;
    justify-content: space-between;
    z-index: 99;
    width: 100%;
    height: 60px;
    background-color: #fdba1c;
    color: black;
    text-align: right;
    margin-bottom: 0;
    position: fixed;
}
.menu_icon{
    height: 0;
    width: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: -60px;
    line-height: 60px;
    cursor: pointer;
}
.links{
    height: 100%;
    position: absolute;
    right: 0;
    line-height: 60px;
}
.bar{
    height: 6px;
    width: 80%;
    background-color: black;
}
.menu{
    position: fixed;
    z-index: 99;
    top: 60px;
    right: -200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    color: black;
    background-color: #fdba1c;
    min-height: 150px;
    transition: 0.125s;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
}
body{
    background-color: #bdfdc9;
}
a{
    font-size: 28px;
    color: black;
    text-decoration: none;
    margin-left: 8px;
    margin-right: 8px;
    line-height: 40px;

}
a:hover{
    text-decoration: underline;
    font-weight: bold;
    font-size: 34px;
    transition: 0.18s;
    text-shadow: 2px 3px 5px rgb(0, 0, 0);
    cursor: pointer;
}

.logo{
    margin: 1px;
    z-index: 99;
    background-image:url("../images/logo.png");
    background-size: contain;
    background-position: center;
    border-radius: 58px;
    top:0;
    left: 0;
    position: fixed;
    height: 58px;
    width: 58px;
    background-color: #fc2329;
}
.home{
    top: 60px;
    position: absolute;
    margin-top: 0;
    width: 100%;
    height: 220px;
    background-color: #5099c8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
img{
    height: 210px;
}

.wrapper{
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
}
.row{
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
    height: 350px;
    max-width: 350px;
    background-color: #409e54;
    color: black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Arial, monospace;
    font-size: 24px;
    margin-bottom: 60px;
}
.clickhere{
    all: revert;
    color: #ca044f;
    text-decoration: none;
}
.clickhere:hover{
    all: revert;
    text-decoration: underline;
    color: #ca044f;
    cursor: pointer;
}
footer {
    line-height: 40px;
    box-sizing: border-box;
    background-color: #fdba1c;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-top: -40px;
    clear: both;
}
@media screen and (max-width: 800px) {
    .menu_icon{
        height: 100%;
        width: 60px;
        right: 0;
    }
    .menu{
        right: -200px;
    }
    .links{
        position: fixed;
        right:-700px;
    }
    .a{
        position: absolute;
        right:-500px;
    }

}
@media screen and (max-width: 700px){
    .oops{
        height: 0;
        width: 0;
    }
}
